<div class="chart-view">
  <div class="chart">
    <highcharts-chart
      [Highcharts]="highCharts"
      [options]="chartOptions"
    ></highcharts-chart>
  </div>
  <div class="chart">
    <highcharts-chart
      [Highcharts]="highCharts"
      [options]="chartOptions"
    ></highcharts-chart>
  </div>
</div>
<div class="chart-view">
  <div class="chart">
    <highcharts-chart
      [Highcharts]="highCharts"
      [options]="chartOptions"
    ></highcharts-chart>
  </div>
  <div class="chart">
    <highcharts-chart
      [Highcharts]="highCharts"
      [options]="chartOptions"
    ></highcharts-chart>
  </div>
</div>
