<div class="chart-view">
  <div class="chart">
    <highcharts-chart
      [Highcharts]="highCharts"
      [options]="chartOptions1"
    ></highcharts-chart>
  </div>
  <div class="chart">
    <highcharts-chart
      [Highcharts]="highCharts"
      [options]="chartOptions2"
    ></highcharts-chart>
  </div>
</div>
<div class="chart-view">
  <div class="chart">
    <highcharts-chart
      [Highcharts]="highCharts"
      [options]="chartOptions3"
    ></highcharts-chart>
  </div>
  <div class="chart">
    <highcharts-chart
      [Highcharts]="highCharts"
      [options]="chartOptions4"
    ></highcharts-chart>
  </div>
</div>
