<div class="dashboard">
  <div class="left-column">
    <div class="map-view">
      <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
        <ng-container *ngIf="polylines?.length !== 0">
          <agm-polyline *ngFor="let polyline of polylines; let i = index;"  [strokeColor]="polyline.color">
            <agm-polyline-point *ngFor="let point of polyline.path" [latitude]="point.lat" [longitude]="point.lng">
            </agm-polyline-point>
        </agm-polyline>
        <ng-container>
          <div *ngFor="let polyline of polylines; let i = index;">
            <agm-marker
              *ngFor="let point of polyline.path"
              [latitude]="point.lat"
              [longitude]="point.lng"
              [iconUrl]="point.wait_time > 5 ? redIcon : greenIcon"
            >
            <agm-info-window
                [isOpen]="false"
                [latitude]="point.lat"
                [longitude]="point.lng"
                [disableAutoPan]="false"
            >
                <div>
                    <p>Name: {{ point.name }}</p>
                    <p>Wait time: {{ point.wait_time }} minutes</p>
                    <p>Waterway: {{ point.waterway }}</p>
                    <p>Travel time from previous lock: {{ point.travel_time }} minutes</p>
                    <p>Transfer time: {{ point.transfer_time }} minutes</p>
                    <p>Distance from previous lock: {{ point.distance }} km</p>
                    <p>Travel speed: {{ point.travel_speed }} km/h</p>
                </div>
            </agm-info-window>
        </agm-marker>
          </div>
        </ng-container>
      </ng-container>
      </agm-map>
    </div>
  </div>
  <div class="right-column">
    <div class="form-view">
      <form [formGroup]="corridorForm">
        <div>
          <label class="full-width">Sailing date <strong class="asterix">*</strong></label>
          <br>
          <mat-form-field class="full-width" appearance="outline">
            <input
                matInput
                [owlDateTime]="dt1"
                [owlDateTimeTrigger]="dt1"
                formControlName="sailingDate"
                autocomplete="off"
                placeholder="Sailing date"
            />
            <owl-date-time pickerType="calendar" #dt1></owl-date-time>
        </mat-form-field>
        </div>
        <div>
            <label class="full-width">From <strong class="asterix">*</strong></label>
            <br>
            <mat-form-field class="full-width" appearance="outline">
                <mat-select placeholder="From" formControlName="fromPort">
                    <mat-option *ngFor="let port of ports" [value]="port">
                      {{ port.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div>
          <label class="full-width">To <strong class="asterix">*</strong></label>
          <br>
          <mat-form-field class="full-width" appearance="outline">
              <mat-select placeholder="To" formControlName="toPort">
                  <mat-option *ngFor="let port of ports" [value]="port">
                    {{ port.name }}
                  </mat-option>
              </mat-select>
          </mat-form-field>
        </div>
        <div>
            <button mat-flat-button color="primary" [disabled]="!corridorForm.valid" (click)="submit()">
                Submit
            </button>
        </div>
    </form>
    </div>
    <div class="list-view">
      <p><b>Corridor List</b></p>
      <div class="list-items">
        <div
          *ngFor="let corridor of corridors"
          class="item"
          [ngStyle]="{ 'background-color': corridor.wait_time > 30 ? 'red' : 'green' }"
          (click)="viewStats(corridor.id)"
        >
          <p><b class="field">Name:</b> {{ corridor.name }}</p>
          <p><b class="field">Wait time:</b> {{ corridor.wait_time }} minutes</p>
          <p><b class="field">Distance:</b> {{ corridor.distance }} km</p>
          <p><b class="field">Locks:</b> {{ corridor.locks.length }}</p>
          <p><b class="field">Travel time:</b> {{ (corridor.travel_time / 60).toFixed(2) }} hours</p>
          <p class="last"><b class="field">Average speed:</b> {{ (corridor.distance / (corridor.travel_time / 60)).toFixed(2) }} km/h</p>
        </div>
      </div>
    </div>
  </div>
</div>
